# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Directories for IDEA files and SBT stuff
/.idea/
/project/project/
/project/target/
/target/

#Local experiment directories
/experiments
